
.cardwait {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 50%, reflect, rgb(0,0,0) 0.0, rgb(50,50,50) 0.5);
}

.cardwait_loading {
    -fx-font-family: "Audiowide";     
    -fx-font-size: 28; 
    -fx-font-weight: bold; 
    -fx-fill: white; 
    -fx-effect: innershadow(gaussian, gray, 5.0, 0, 3, 3);  
}

.cardwait_loading2, .cardwait_progress {
    -fx-font-family: "Audiowide";     
    -fx-font-size: 14; 
    -fx-font-weight: bold; 
    -fx-fill: white; 
    -fx-effect: innershadow(gaussian, gray, 5.0, 0, 3, 3);  
}

.cardwait_circle {
}
